extends layout.pug

block content
  form(action="/retrieval-password" method='post')
    input(type="text" placeholder='please enter your username' name='username')
    input(type='email' placeholder='please enter your email address' name='emailAddress')
    button submit
